<a href="https://colab.research.google.com/github/hasibzunair/tf-tutorial/blob/main/numpy_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy Tutorial

**Author:** [Hasib Zunair](https://hasibzunair.github.io/)<br>
**Date created:** 2021/10/18<br>
**Last modified:** 2021/10/18<br>

The Numpy package provides ndarray objects (vectors, matrices, tensors) along with fast numerical operations (sum, mul, max, etc). It works a bit like Matlab.

**Motivation:** All machine learning packages (e.g., scikit-learn, TensorFlow, PyTorch, JAX) either rely on Numpy or offer their own Numpy-like functionality that is interchangeable with Numpy. Below is an example.

```python
# Unique numbers in a list
>>> numpy.unique([1, 1, 2, 2, 3, 3]) # numpy version
>>> torch.unique(torch.tensor([1, 1, 2, 2, 3, 3], dtype=torch.int32)) # PyTorch version
```

Both returns the unique elements of the input *array* or *tensor*.

# Import Numpy
If you need to use Numpy, use the following line:

In [1]:
import numpy as np

**NOTE**: If you forget which are rows and which are columns like me, here's an illustration!

![image.png]()

# Ndarray objects

Numpy provides the [ndarray](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html) type, which stands for "N-dimensional array." The simplest is one-dimensional:

In [2]:
y = [2, 4, 6]  # Create a list object with three slots, each refering to an integer object
x = np.array(y)  # Create an ndarray object, initializing each x[i] by copying the value from y[i]
x  # array([2, 4, 6])

array([2, 4, 6])

In [3]:
# Check type of object
type(x)

numpy.ndarray

In [4]:
print("Dimension: ", x.ndim) # The 'ndim' (number of dimensions) on this particular ndarray object is 1
print("Length of array: ", len(x)) # The length of the first dimension (the only dimension) is 3
print("Shape of array: ", x.shape) # The 'shape' tuple contains the length of each dimension (all 'ndim' of them)
print("Type of array: ", x.dtype)  # The 'dtype' (data type) on this particular ndarray object is 32-bit integer

Dimension:  1
Length of array:  3
Shape of array:  (3,)
Type of array:  int64

The array data is now separate from the list we initialize it with:

In [5]:
x[0] = -1 # Replace the value in slot x[0] with the value of an integer object

In [6]:
x # The data inside the ndarray referred to by 'x' has changed

array([-1,  4,  6])

In [7]:
y # The original list that we used to initialize 'x' has not changed

[2, 4, 6]

You can create a two-dimensional (2D) ndarray object from nested lists:

In [8]:
# Create a nested list (3 list objects, 6 integers) and
# use it to initialize a new ndarray object
x = np.array([[2, 4, 6], [5, 3, 1]]) 
print(x)
print("Dimension: ", x.ndim) # The 'ndim' (number of dimensions) of this ndarray object is 2
print("Shape: ", x.shape) # The 'shape' is that of a 2x3 matrix (2 rows, 3 columns)

[[2 4 6]
 [5 3 1]]
Dimension:  2
Shape:  (2, 3)

Each dimension is called an axis because we can do operations on separate axes:

In [9]:
x.sum() # Sum all 6 values in the 2x3 ndarray and return an object

21

In [10]:
x.sum(axis=0) # Sum across the first axis (outer-most axis), giving new ndarray [2+5, 4+3, 6+1]

array([7, 7, 7])

In [11]:
x.sum(axis=1) # Sum across the second axis (inner axis), giving new ndarray [2+4+6, 5+3+1]

array([12,  9])

Ndarrays are mutable, which means you can modify the data inside arrays without creating a new object or a new copy of the data. This is true even if you use Python operators like `+=` and `-=`:

In [12]:
x = np.array([0, 0, 0])
y = x

In [13]:
x += 5

In [14]:
y

array([5, 5, 5])

# Creating ndarrays

Some examples of [handy array creation functions](https://numpy.org/devdocs/reference/routines.array-creation.html).

In [15]:
np.zeros(3) # Create an ndarray object with shape (3,) and fill it with 0.0

# array([0., 0., 0.])

array([0., 0., 0.])

In [16]:
np.ones(3) # Create an ndarray object with shape (3,) and fill it with 1.0

#array([1., 1., 1.])

array([1., 1., 1.])

In [17]:
np.full((2, 3), 5) # Create an ndarray object with shape (2, 3) and fill it with integer 5

# array([[5, 5, 5],
#       [5, 5, 5]])

array([[5, 5, 5],
       [5, 5, 5]])

In [18]:
np.eye(3) # Create an ndarray object with shape (3, 3) and fill the diagonal with 1.0

# array([[1., 0., 0.],
#        [0., 1., 0.],
#        [0., 0., 1.]])

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [19]:
np.arange(3) # Create an ndarray object with shape (3,) and fill it with ascending integers

# array([0, 1, 2])

array([0, 1, 2])

In [20]:
# Create an ndarray object with shape (6,) and fill it with values that
# interpolate from 0.0 to 0.5 inclusive

np.linspace(0, 0.5, 6) 
# array([0. , 0.1, 0.2, 0.3, 0.4, 0.5])

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5])

# Ndarray Data types

Read more about data types [here](https://numpy.org/devdocs/user/basics.types.html).

In [21]:
np.array([1, 2, 3]) # Create an int32 ndarray object, since all values are integers
# array([1, 2, 3])

array([1, 2, 3])

In [22]:
np.array([1, 2, 3.]) # Create a float64 ndarray object, since at least one value is float
# array([1., 2., 3.])

array([1., 2., 3.])

# Basic indexing and slicing
Numpy [indexing and slicing](https://numpy.org/devdocs/user/quickstart.html#indexing-slicing-and-iterating) both work similarly to lists:

In [23]:
x = np.array([2, 4, 6]) # Create an int32 ndarray, initialized from three integer objects
x[0] # Index [0] has the int32 value 2

2

In [24]:
x[-1] # Index [len(x)-1] has the int32 value 6

6

In [25]:
x[1:] # Slice [1:len(x)] creates a new ndarray array skipping first item
#array([4, 6])

array([4, 6])

You can assign an index or a slice to be a constant value:

In [26]:
x[1:] = 0
x
# array([2, 0, 0])

array([2, 0, 0])

You can do multi-dimensional indexing:

In [27]:
x = np.array([[2, 4, 6], [5, 3, 1]]) # Create a 2x3 int32 ndarray, initialized from a nested list
x

array([[2, 4, 6],
       [5, 3, 1]])

In [28]:
x[0,0] # Index [0,0] has int32 value 2 (first row, first column)

2

In [29]:
x[0,-1] # Index [0,m-1] has int32 value 6, where m is the number of columns

6

In [30]:
x[-1,0] # Index [n-1,0] has int32 value 5, where n is the number of rows

5

You can also do multi-dimensional slicing:

In [31]:
y = x[1:,:2] # Create a new ndarray object by slicing subarray [1:n,0:2] from 'x'
y
#array([[5, 3]])

array([[5, 3]])

Indexing with an integer i results in an array with reduced dimension.

In [32]:
x = np.array([[2, 4, 6],
              [5, 3, 1]])
x

array([[2, 4, 6],
       [5, 3, 1]])

In [33]:
x[:,1] # A view of the second column with shape (2,)

array([4, 3])

In [34]:
x[0,:] # A view of the first row with shape (3,)

array([2, 4, 6])

In [35]:
# Create the following rank 2 array with shape (3, 4)
# [[ 1  2  3  4]
#  [ 5  6  7  8]
#  [ 9 10 11 12]]

a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

In [36]:
# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]

b = a[:2, 1:3]
b

array([[2, 3],
       [6, 7]])

# Looping
You can iterate over the outer-most dimension of an ndarray. For a matrix this means you loop over the rows:

In [37]:
x = np.array([[2, 4, 6],
              [5, 3, 1]])

In [38]:
for xi in x:
  print(xi)

[2 4 6]
[5 3 1]

In [39]:
for xi in x:
  for xij in xi:
    print(xij)

2
4
6
5
3
1

# Functions and operators

Too many to know all at once! See [list](https://numpy.org/devdocs/reference/routines.html) here.

Also shape manipulation is important. See [here](https://numpy.org/devdocs/user/quickstart.html#shape-manipulation).

In [40]:
y = np.arange(6) # Create a ndarray object of int32 values [0, 1, 2, 3, 4, 5] and shape (6,)
y

array([0, 1, 2, 3, 4, 5])

In [41]:
x = y.reshape(2, 3) # Create an ndarray object with a view into the data for 'x' but with shape (2, 3)
x

array([[0, 1, 2],
       [3, 4, 5]])

In [42]:
x.reshape(3,2) # Create an ndarray object with a view into the data for 'x' but with shape (3, 2)

array([[0, 1],
       [2, 3],
       [4, 5]])

In [43]:
# Same as above, but ask Numpy to figure out how many rows are needed for 2 columns
# Useful in cases when we don't know number of rows.
x.reshape(-1, 2)

array([[0, 1],
       [2, 3],
       [4, 5]])

You can build new ndarrays by stacking other ndarrays along some dimension:

In [44]:
# x is:
# array([[0, 1, 2],
#        [3, 4, 5]])

np.vstack([x, x]) # Create a 4x3 ndarray objec b

array([[0, 1, 2],
       [3, 4, 5],
       [0, 1, 2],
       [3, 4, 5]])

In [45]:
np.hstack([x, x])

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5]])

Some functions operate along one or more axes of a single ndarray:

In [46]:
x = np.array([[0, 5, 2],
              [7, 1, 3]])
x

array([[0, 5, 2],
       [7, 1, 3]])

In [47]:
# Take max across enire array (axis 0 and axis 1), 
# going from shape (2,3) to ()
x.max()

7

In [48]:
# Take max across axis 0 only (across row index), 
# going from shape (2,3) to (3,)
x.max(axis=0)

array([7, 5, 3])

In [49]:
# Take max across axis 1 only (across column index), 
# going from shape (2,3) to (2,)
x.max(axis=1)

array([5, 7])

# Some math functions

See more [here](https://numpy.org/devdocs/reference/routines.math.html).

In [50]:
A = np.array([[0, 1], [2, 0]])
x = np.array([[2], [7]])

In [51]:
A # (2x2)

array([[0, 1],
       [2, 0]])

In [52]:
x # (2,1)

array([[2],
       [7]])

In [53]:
# Create a new ndarray that is the matrix product of 
# A and x; same as np.matmul(A, x)
A @ x

array([[7],
       [4]])

This should be obvious if we all remember linear algebra! $$ \begin{bmatrix} 0 & 1 \\ 2 & 0 \end{bmatrix} \begin{bmatrix} 2 \\ 7 \end{bmatrix}
=
\begin{bmatrix} 7 \\ 4 \end{bmatrix}$$

You can also transpose a matrix, which is useful for linear algebra:

In [54]:
A.T

array([[0, 2],
       [1, 0]])

Compute inner products of vectors using `np.dot()`. An example:


$$ \begin{bmatrix} 1 & 2 \\ 3 & 4 \end{bmatrix} \begin{bmatrix} 5 & 6 \\ 7 & 8 \end{bmatrix}
=
\begin{bmatrix} 19 & 22 \\ 43 & 50 \end{bmatrix}$$

In [55]:
x = np.array([[1,2],[3,4]])
y = np.array([[5,6],[7,8]])

In [56]:
np.dot(x, y)

array([[19, 22],
       [43, 50]])

# Broadcasting

Numpy [broadcasting](rules) are very important.

In [57]:
y = np.array([[0, 10, 0]]) # Create an ndarray with shape (1,3), an explicit row-vector
y

array([[ 0, 10,  0]])

In [58]:
x = np.eye(3, dtype=y.dtype) # Create an ndarray with shape (3,3)
x

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [59]:
# Broadcast y across the rows of x
# = [[1  0  0]   +   [[0  10  0]]
#    [0  1  0]
#    [0  0  1]]

x + y

array([[ 1, 10,  0],
       [ 0, 11,  0],
       [ 0, 10,  1]])

In [60]:
# Broadcast y.T across the columns of x
x + y.T

array([[ 1,  0,  0],
       [10, 11, 10],
       [ 0,  0,  1]])

For example, you an use this to subtract off the mean of each row of a matrix:

In [61]:
x = np.arange(6).reshape(3, 2)
x

array([[0, 1],
       [2, 3],
       [4, 5]])

In [62]:
x - x.mean(axis=0) # Subtract the mean by broadcasting across each row of 'x'

array([[-2., -2.],
       [ 0.,  0.],
       [ 2.,  2.]])

Keep in mind that broadcasting of vectors is a major source of bugs when working in Numpy. For example, you might intenf to add two vectors but end up creating a matrix, which then leads to errors:

In [63]:
x = np.array([[0, 1, 2]]) # A row vector
y = np.array([[0], [1], [2]]) # A column vector
x + y

array([[0, 1, 2],
       [1, 2, 3],
       [2, 3, 4]])

We created a new 3x3 ndarray by broadcasting from both `x` and `y`!

# Random numbers

More on random sampling functions [here](https://numpy.org/doc/1.16/reference/routines.random.html).

In [64]:
# Create ndarrays filled with random samples:
# Create an ndarray filled with numbers sampled uniformly at 
# random from [0,1)

np.random.rand(2, 3)

array([[0.16774074, 0.11134873, 0.63227842],
       [0.61059343, 0.43945143, 0.61195835]])

In [65]:
# Create an ndarray filled with numbers sampled from 
# the standard normal

np.random.randn(2, 3)

array([[-0.24780184, -0.07211613,  0.48389203],
       [ 0.75531929,  0.28039621,  0.21325655]])

In machine learning, reproducibility is important. We need to generate the same sequence of random numbers on another computer. So, you should know how to set the random seed:

In [66]:
np.random.seed(6795) # Set the random seed to a specific integer value

In [67]:
np.random.rand(2) # Sample some random numbers

array([0.26293163, 0.76412668])

In [68]:
np.random.seed(6795) # Reset the random seed to the same value

In [69]:
np.random.rand(2) # Now our random numbers are reproducible!

array([0.26293163, 0.76412668])

# Resources

For more indepth stuff, links below can be helpful. Also, refer to official [Numpy documentation](https://numpy.org/doc/stable/index.html)!

* [A visual introduction to Numpy](https://jalammar.github.io/visual-numpy/)
* [Python + Numpy + Matplotlib tutorial from Stanford's cs231n course](https://cs231n.github.io/python-numpy-tutorial/)
* [Numpy quickstart guide](https://numpy.org/devdocs/user/quickstart.html)